@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background:rgba(196, 120, 0, 0.66);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom left, rgba(196, 120, 0, 0.66), floralwhite);
    color: #122b40;
    font-family: 'Alegreya', sans-serif;
    margin: 0;
    position: absolute;
}

h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
}

p {
    font-size: 160%;
    line-height: 150%;
    padding: 2% 2% 2% 2%;
    text-indent: 2%;
    text-align: justify;
}

header {
    position: fixed;
    width: 100%;
    height: 86px;
    background: rgb(233, 121, 54);
    background: -webkit-linear-gradient(to left bottom,rgb(233, 121, 54), floralwhite);; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to left bottom, rgb(233, 121, 54) , floralwhite);; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to left bottom, rgb(233, 121, 54) , floralwhite);; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left bottom, rgb(233, 121, 54) , floralwhite);
    box-shadow: 0 10px 30px rgba(0,0,0,0.12), 0 10px 20px rgba(0,0,0,0.24);
}

#header-inner {
    max-width: 100%;
    height: inherit;
    margin: 0 auto;
}

#logo {
    margin: 10px;
    float: left;
    width: 200px;
    height: 60px;
    background-size: cover;
    background: url("../../images/music-icon.resized.png") no-repeat center;
}

/* Begin navigation */

nav {
    float: right;
    height: inherit;
    padding: 0px 30px 0 0;
}

#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
    background: url("../../images/menu-icon.png") center;
}

a:hover#menu-icon {
    border-radius: 4px 4px 0 0;
}

nav ul {
    list-style-type: none;
    height: inherit;
}

nav ul li {
    font-size: 150%;
    height: inherit;
    display: inline-block;
    float: left;
    padding: 0 10px 0 10px;
}

nav ul li:hover {
    background-color: #a75135;
}

nav ul li a {
    display: block;
    color: #a75135;
    height: inherit;
    text-align: center;
    text-decoration: none;
    padding-top: 30px;
}

nav ul li a:hover {
    color: #ffe1d0;
}

.current {
    color: #ffe1d0;
}

/* End of Navigation*/
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    /*top: 86px;*/
    /*bottom: 200px;*/
    z-index: -1;
}

/*#carousel {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*max-height: 1080px;*/
    /*margin: 0 auto;*/

/*}*/

#carousel img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: inherit;
    margin-bottom: -4px;

    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

#carousel img:nth-of-type(1) {
    animation-delay: 6s;
}
#carousel img:nth-of-type(2) {
    animation-delay: 4s;
}
#carousel img:nth-of-type(3) {
    animation-delay: 2s;
}
#carousel img:nth-of-type(4) {
    animation-delay: 0s;
}

@keyframes cf4FadeInOut {
    0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#second-section {
    position: relative;
    top: 100vh;
    height: 60%;
    /*width: 100%;*/
    /*max-height: 1080px;*/
    /*margin: 0 auto;*/
}

#second-section-article {
    margin: 0 auto;
    float: right;
    width: 70%;
}

#second-section img {
    width: 100%;
    height: 100%;
    max-height: 900px;
    margin-bottom: -4px;
}

#second-section-aside {
    color: #4f0000;
    width: 30%;
    float: left;
    text-align: center;
    padding: 10% 0 10% 0;
}

#third-section {
    position: relative;
    top: 100vh;
    /*height: 60%;*/
    /*width: 100%;*/
    /*max-height: 1080px;*/
    /*margin: 0 auto;*/
}

#third-section-article {
    margin: 0 auto;
    float: left;
    width: 70%;
}

#third-section img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 900px;
    margin-bottom: -4px;
}

#third-section aside {
    color: #4f0000;
    width: 30%;
    min-height: 100%;
    float: right;
    text-align: justify;
    padding: 10% 0 10% 0;
}

footer {
    position: relative;
    top: 198vh;
    width: 100%;
    height: 200px;
    background: rgb(251, 203, 178);
    background: -webkit-linear-gradient(to right top, rgb(132, 23, 5) , rgb(251, 203, 178)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to right top, rgb(132, 23, 5) , rgb(251, 203, 178)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to right top, rgb(132, 23, 5) , rgb(251, 203, 178)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right top, rgb(132, 23, 5) , rgb(251, 203, 178));

}

footer p {
    position: absolute;
    bottom: 0;
    width: 25%;
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
}

.social-footer {
    position: absolute;
    bottom: 0px;
    list-style-type: none;
    text-align: center;
    width: 100%;
    height: 160px;
}

.social-footer li {
    display: inline;
}

.social-footer i {
    font-size: 460%;
    margin: 0% 1% 0% 1%;
    padding: 1% 5% 5% 1%;
    color: whitesmoke;
    height: 10%;
}

@include animation(slider-lg ease-in-out 30s both infinite);